/**
 *------
 * BGA framework: �c Gregory Isabelli <gisabelli@boardgamearena.com> & Emmanuel Colin <ecolin@boardgamearena.com>
 * Pylos implementation : �c Stanislav Stepanenko <stst75@inbox.ru>
 *
 * This code has been produced on the BGA studio platform for use on http://boardgamearena.com.
 * See http://en.boardgamearena.com/#!doc/Studio for more information.
 * -----
 *
 * pylos.css
 *
 * Pylos stylesheet
 *
 */

/*
    This is the CSS stylesheet of your game User Interface.

    Styles defined on this file will be applied to the HTML elements you define in your
    HTML template (pylos_pylos.tpl), and to HTML elements you create dynamically
    (in pylos.js).

    Usually, you are using CSS to:

    1°) define the overall layout of your game
        (ex: place the board on the top left, place player's hand beside, place the deck on the right, ...).

    2°) create your CSS-sprites:
        All images of your games should be gathered into a small number of image files. Then, using
        background-image and background-position CSS properties, you create HTML blocks that can
        display these images correctly (see example below).

    3°) ... anything else:
        It is really easy to add and remove CSS classes dynamically from your Javascript with
        dojo.addClass and dojo.removeClass. It is also easy to check if an element has a class
        (dojo.hasClass) or to get all elements with a specific class (dojo.query). This is why,
        very often, using CSS classes for the logic of your user interface allow you to do complex
        thing easily.


     Note: on the production platform, this file will be compressed and comments will be removed.
           Consequently, don't hesitate to put as many comments as necessary.
*/

@import url(../../../css/csslayer.css); /* Note: you must not use any @import directive other than this one */

/********* You can start writing your CSS below this line: **********/


/*
    Example of CSS sprites (a black token and a white token, 20x20px each, embedded in the same "tokens.png" 40x20px image):

    .white_token {
        background-image: url('img/tokens.png');
        background-position: 0px 0px;
    }
    .black_token {
        background-image: url('img/tokens.png');
        background-position: -20px 0px;
    }
    .token {
        width: 20px;
        height: 20px;
        background-repeat: none;
    }
*/

#modeSelector {
    width: auto;
    position: absolute;
    top: 0;
    left: 0;
}

#game_area {
	text-align: center;
	position: relative;
}

#game_background {
	width: 620px;
	height: 620px;
	position: relative;
	display: inline-block;
}

#board {
    width: 620px;
    height: 620px;
    background-image: url('img/board.png');
    position: relative;
}

.pos_selection {
    width: 55px;
    height: 55px;
    position: absolute;
}

.ball_selection {
    width: 80px;
    height: 80px;
    position: absolute;
}

.ball {
    width: 80px;
    height: 80px;
    position: absolute;
    background-image: url('img/balls.png');
    z-index: 1;
}
.ball_light { background-position: -0px 0px; }
.ball_dark { background-position: -80px 0px; }
.ball_selected_light { background-position: -320px 0px; cursor: pointer; }
.ball_selected_dark { background-position: -400px 0px; cursor: pointer; }

.availablePosition {
    background-image: url( 'img/balls.png');
    background-position: -492px -11px;
    opacity: 0.4;
    filter:alpha(opacity=40); /* For IE8 and earlier */
    cursor: pointer;
    z-index: 6;
}

.availableBall_light {
    background-image: url( 'img/balls.png');
    background-position: -160px 0px;
    cursor: pointer;
    z-index: 5;
}

.availableBall_dark {
    background-image: url( 'img/balls.png');
    background-position: -240px 0px;
    cursor: pointer;
    z-index: 5;
}

.ballicon {
	width: 28px;
	height: 28px;
	display: inline-block;
    position: relative;
    background-repeat: no-repeat;
    background-image: url( 'img/ball_icons.png');
    margin-top: 3px;
    margin-left: 3px;
}

.ballicon_light { background-position: 0px 0px; }
.ballicon_dark { background-position: -28px 0px; }

.ballcounter {
    position: absolute;
    margin-top: 9px;
    margin-left: 5px;
}

.cp_board { clear:both; }

.level_2 {
    cursor: pointer;
}

.blink {
    -moz-animation-duration: 6s;
    -webkit-animation-duration: 6s;
    animation-duration: 6s;
    -moz-animation-name: blink;
    -webkit-animation-name: blink;
    animation-name: blink;
    -moz-animation-iteration-count: 1;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
}

@-moz-keyframes blink {  
    from { opacity: 0; }
    to   { opacity: 1; } 
}

@-webkit-keyframes blink { 
    from { opacity: 0; }
    to   { opacity: 1; }
}

@keyframes blink {  
    from { opacity: 0; }
    to   { opacity: 1; } 
}

#container {
    width: 100%;
    height: 600px;
}